<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="about">

                <h2>What We Do</h2>

                <p>AWIC Community and Social Services provides settlement and employment services, as well as 
                training & volunteer opportunities for newcomers to Canada. We provide them with the tools to 
                integrate and participate in Canadian society while maintaining their ethnic heritage. We are a 
                non-profit, non-political, secular, multi-lingual, multi-cultural organization that has been 
                assisting newcomers for over 35 years.</p>

                <h2>Our Mandate</h2>

                <p>The primary mandate of AWIC Community and Social Services is to provide appropriate, timely, 
                culturally sensitive newcomer support services with the objective of facilitating a smooth and 
                successful entry, transition and settlement into Canadian life. AWIC is uniquely positioned to 
                understand immigration related issues faced by newcomers in general, South Asians in particular, 
                at a grass roots level.</p>

                <h2>Goals and Objectives</h2>

                <ul>
                    <li>To promote mutual and inter-cultural understanding among newcomers and their families by 
                    establishing mutual support groups. </li>
                    <li>To provide a public forum for exchange of ideas, information and support among women. </li>
                    <li>To develop employment training and educational programmes to meet the needs of immigrants 
                    and their families. </li>
                    <li>To provide support services to the aged, ill or disabled and needy women. </li>
                    <li>To promote health education among women and their families through seminars, conferences and 
                    counseling, and educate them on prevention of and curative measures for health problems. </li>
                    <li>To assist women affected by spousal abuse through counseling and help them to become more 
                    independent. </li>
                    <li>To provide education, counseling and other support services for needy women immigrants and 
                    refugees in Canada by offering programmes in individual development, social integration, language 
                    instruction, translation services and information programmes on Canadian culture and life. </li>
                    <li>To develop and provide programmes promoting performances of an artistic nature in public 
                    functions and community centres, and also provide seminars on topics relating to artistic performances. </li>
                </ul>

                <h2>History</h2>

                <p>
                    AWIC Community & Social Services was founded in 1976 by Late Vara Singh.  AWIC, in co-operation with 
                    the India Immigrant Aid, organized a workshop on “Indian Women in Canadian Society” in 1977. The 
                    recommendations made at that workshop formed the basis for AWIC’s activities. 
                </p>
                <p>&nbsp;</p>
                <p>
                    AWIC’s objectives over the years has been set on the same foundations of promoting mutual understanding, 
                    to promote leadership and community involvement, to encourage full participation in Canadian Life and to 
                    share culture and traditions with fellow Canadians. 
                </p>
                <p>&nbsp;</p>
                <p>
                    AWIC’s independent office was first opened on Consumer’s Road. Since then, it has come a long way as a 
                    prominent organization assisting in the Settlement and Integration of newcomers into Canadian Society. 
                </p>

                <h2>Board of Directors</h2>

                <table>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Priti_Lamba.jpg")" /></td>
                        <td>Priti Lamba, President</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Suverna_Kulkarni.jpg")" /></td>
                        <td>Suverna Kulkarni, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Kamlesh_Oberoi.jpg")" /></td>
                        <td>Kamlesh Oberoi, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Bhavna_Tailor.jpg")" /></td>
                        <td>Bhavna Tailor, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Vanita_Pais.png")" /></td>
                        <td>Vanita Pais,  Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Gursharan_Kandra.png")" /></td>
                        <td>Gursharan Kandra, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/no_photo.jpg")" /></td>
                        <td>Amrita Mathur,  Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/no_photo.jpg")" /></td>
                        <td>Sheela Barot,  Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/no_photo.jpg")" /></td>
                        <td>Geeta Chopra, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/no_photo.jpg")" /></td>
                        <td>Rani Minhas, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Shelly_Srivastav.jpg")" /></td>
                        <td>Shelly Srivastav, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Neetu_Gill.jpg")" /></td>
                        <td>Neetu Gill, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Anjali_Thorve.jpg")" /></td>
                        <td>Anjali Thorve, Director</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/no_photo.jpg")" /></td>
                        <td>Sharada Bhat,  Immediate Past President</td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content("~/Content/images/board_of_directors/Yash_Kapur.jpg")" /></td>
                        <td>Yash Kapur, Executive Director</td>
                    </tr>
                </table>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>