<div id="slider">
    <ul class="slides">
        <li>
            <img src="@Url.Content("~/Content/images/Canadian Flag.png")" alt="" />
            <div id="settlementtext1" class="text1">New to Canada and need help settling in?</div>
            <div id="settlementtext2" class="text2"><a href="@Url.Action("Settlement", "Home")">Check out our settlement and housing services</a></div>
        </li>
        <li>
            <img src="@Url.Content("~/Content/images/clasped_hands.png")" alt="" />
            <div id="supportservicestext1" class="text1">We also provide support for seniors, the ill or disabled, needy women, immigrants and refugees 
            to get by and to integrate successfully into Canadian life with a sense of independence</div>
            <div id="supportservicestext2" class="text2"><a href="@Url.Action("SupportServices", "Home")">Click here to find out more</a></div>
        </li>
        <li>
            <img src="@Url.Content("~/Content/images/community.png")" alt="" />
            <div id="communitytext1" class="text1">We offer community and health and wellness services as well</div>
            <div id="communitytext2" class="text2"><a href="@Url.Action("Community", "Home")">Click here to find out more</a></div>
        </li>
    </ul>
</div>
<div id="slider-text-only">
    <div class="center cf">
        <div class="col-12">
            <div class="text1">New to Canada and need help settling in?</div>
            <div class="text2"><a href="@Url.Action("Settlement", "Home")">Check out our settlement and housing services</a></div>
            <div class="text1">We also provide support for seniors, the ill or disabled, needy women, immigrants and refugees</div>
            <div class="text2"><a href="@Url.Action("SupportServices", "Home")">Click here to find out more</a></div>
            <div class="text1">We offer community and health and wellness services as well</div>
            <div class="text2"><a href="@Url.Action("Community", "Home")">Click here to find out more</a></div>
        </div>
    </div>
</div>
<section class="info">
    <div class="center cf">
        <div class="col-12">
            <h3><a href="~/Content/flyers/@Path.GetFileName(Directory.GetFiles(Server.MapPath("~/Content/flyers"))[0])">View <span class="underline">our flyer</span> to learn about exciting, upcoming events! </a></h3>
        </div>
    </div>
</section>
<!-- Events -->
<section class="events" id="awicevents">
    <div class="center cf">
        <h2>Events</h2>
        <div class="col-4">
            <div id="calendar"></div>
            <span class="allevents"><strong><span id="scroll-instruction">Scroll down to view the list of events</span></strong></span>
            <span class="allevents">Click <a id="allEventsOfWeek" href="javascript:void(0)">here</a> to see all the events of this <strong>week</strong></span>
            <span class="allevents">Click <a id="allEventsOfMonth" href="javascript:void(0)">here</a> to see all the events of this <strong>month</strong></span>
            <span class="allevents">Click <a id="calendarPDF" href="~/Content/calendar/@Path.GetFileName(Directory.GetFiles(Server.MapPath("~/Content/calendar"))[0])">here</a> to view the entire calendar in <strong>PDF</strong></span>
        </div>
        <div class="col-8">
            <div id="eventlist">
            </div>
        </div>
    </div>
</section>
<section class="pics">
    <div class="center cf">
        <h2>Gallery</h2>
        <div class="col-12">
            <div class="pics-container">
                @{
                    foreach (string file in ViewBag.Files)
                    {
                        <div class="pic">
                            <img src="~/Content/gallery/@Path.GetFileName(file)" />
                        </div>
                    }
                }
            </div>
            <div class="button">
                <a href="@Url.Action("Index", "Gallery")">View entire gallery</a>
            </div>
        </div>
    </div>
</section>
<!-- How can you help -->
<section class="how-help">
    <div class="top-border"></div>
    <div class="center cf">
        <h2>How Can You Help?</h2>
        <h3>
            AWIC, at its core, is about strengthening and empowering the lives of community members integrating 
            into Canadian life. Helping us would mean that you understand that and are willing to deliver on that 
            core message. Here's how you can help us become better. 
        </h3>
        <div class="col-4">
            <h3>Membership / Patronship</h3>
            <div class="how-help-content-box">
                <div class="content-middle">
                    <p>
                        Becoming a member / patron of AWIC will help sustain and enhance AWIC's resources 
                        that are available to individuals, newcomer families and the community at large. 
                    </p>
                </div>
            </div>
            <a class="more" href="@Url.Action("SignUp", "Member")">More</a>
        </div>
        <div class="col-4">
            <h3>Become a Sponsor</h3>
            <div class="how-help-content-box">
                <div class="content-middle">
                    <p>
                        Your sponsorship makes a difference by improving AWIC’s ability to start new community projects 
                        and carry existing projects into the future after the funding period. 
                    </p>
                </div>
            </div>
            <a class="more" href="@Url.Action("Sponsors", "Home")">More</a>
        </div>
        <div class="col-4">
            <h3>Make a Donation</h3>
            <div class="how-help-content-box">
                <div class="content-middle">
                    <p>
                        Your donation, no matter how small, will go a long way for us to continue to 
                        provide our services to the people who need it without creating a financial burden on them. 
                    </p>
                </div>
            </div>
            <a class="more" href="@Url.Action("Donate", "Donations")">More</a>
        </div>
        <div class="clear-float"></div>
        <div class="col-6">
            <h3>Volunteer with us</h3>
            <div class="how-help-content-box">
                <div class="content-middle">
                    <p>
                        We are always looking for enthusiastic volunteers! From computer tutoring to office work and events, 
                        we will find the perfect volunteering opportunity for you at AWIC. 
                    </p>
                </div>
            </div>
            <a class="more" href="@Url.Action("Apply", "Volunteer")">More</a>
        </div>
        <div class="col-6">
            <h3>Become a Partner</h3>
            <div class="how-help-content-box">
                <div class="content-middle">
                    <p>
                        AWIC is only able to continue its services and work because of the generous support of its community, 
                        including the many volunteers who commit their time and efforts, as well as a broad base of funding 
                        partners. 
                    </p>
                </div>
            </div>
            <a class="more" href="@Url.Action("Partners", "Home")">More</a>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/sliderscripts")
@Scripts.Render("~/bundles/hbcalscripts")
<script>
    $(document).ready(function () {
        // Initialise the slider
        InitHome();

        var day = Number('@DateTime.Now.AddHours(3.0).Day');
        var month = Number('@DateTime.Now.AddHours(3.0).Month');
        var year = Number('@DateTime.Now.AddHours(3.0).Year');
        var preLoad = function(){
            $('#eventlist').html('<div class="text-center loading"><strong>Loading ... </strong></div>');
        };
        var getEventsForWeek = function(){
            preLoad();
            $.post(
                '@Url.Action("GetEventsForWeek", "Events")',
                'currentDay=' + day.toString() + '&currentMonth=' + month.toString() + '&currentYear=' + year.toString(),
                function(data){
                    $('#eventlist').html(data);
                },
                'html'
            );
        };
        var getEventsForMonth = function(){
            preLoad();
            $.post(
                '@Url.Action("GetEventsForMonth", "Events")',
                'currentMonth=' + month.toString() + '&currentYear=' + year.toString(),
                function(data){
                    $('#eventlist').html(data);
                },
                'html'
            );
        };
        // Initialise the calendar
        $('#calendar').eCalendar({
            ajaxDayLoader: '@Url.Action("GetDaysWithEvents", "Events")',
            ajaxEventLoader: '@Url.Action("GetEventsForDay", "Events")',
            eventsContainer: '#eventlist',
            currentMonth: month,
            currentYear: year,
            startMonth: month,
            startYear: year,
            endMonth: month,
            endYear: year,
            firstDayOfWeek: 1,
            onBeforeLoad: function(){
                return void (0);
            },
            onAfterLoad: getEventsForMonth,
            onClickMonth: function(){
                return void (0);
            },
            onClickDay: function(){
                preLoad();  
            }
        });
        $('#allEventsOfWeek').click(getEventsForWeek);
        $('#allEventsOfMonth').click(getEventsForMonth);

        $.get(
            "@Url.Action("GetLatestDonations", "Donations")",
            "",
            function(data){
                $('footer').before(data);
            },
            "html"
        );
    });
</script>
@{
    if (!String.IsNullOrEmpty((string)TempData["AlertMessage"]))
    {
        <script type="text/javascript">
            (function(){
                alert('@TempData["AlertMessage"]');
            })();
        </script>
    }
}