<section class="aboutwhatwedo">
    <div class="center cf">
        <div class="col-12">
            <div id="partners">
                <p>&nbsp;</p>

                <p>
                    AWIC Community & Social Services is only able to continue its services and work because of the generous support of its 
                    community, including the many volunteers who commit their time and effort, as well as a broad base of funding partners.
                </p>

                <h2>Our Friendly Partners</h2>

                <table>
                    <tr>
                        <td><a href="http://www.betterlivinghealth.org/" target="_blank"><img src="@Url.Content("~/Content/images/BetterLiving.gif")" /></a></td>
                        <td>
                            <a href="http://www.betterlivinghealth.org/" target="_blank">Better Living Health and Community Services</a> has 
                            been delivering community support services in the Don Mills area since 1976. Their mission is to support individuals 
                            in our community in maintaining their independence, enhancing their social well-being, and optimizing their overall 
                            health and wellness through the provision of a wide range of community support services and leisure activities. 
                        </td>
                    </tr>
                    <tr>
                        <td><a href="http://fhc-chc.com/" target="_blank"><img src="@Url.Content("~/Content/images/fhc.png")" /></a></td>
                        <td>
                            <a href="http://fhc-chc.com/" target="_blank">Flemingdon Health Centre</a> is a fully accredited, non-profit charitable 
                            community health centre (CHC) located in Toronto, Ontario, serving clients within a defined geographic area. 
                        </td>
                    </tr>
                    <tr>
                        <td><a href="http://www.publichealthontario.ca/" target="_blank"><img src="@Url.Content("~/Content/images/PHO.gif")" /></a></td>
                        <td>
                            <a href="http://www.publichealthontario.ca/" target="_blank">Public Health Ontario (PHO)</a> is an arm’s-length 
                            government agency dedicated to protecting and promoting the health of all Ontarians and reducing inequities in 
                            health. As a hub organization, PHO links public health practitioners, front-line health workers and researchers 
                            to the best scientific intelligence and knowledge from around the world. 
                        </td>
                    </tr>
                    <tr>
                        <td><a href="http://socialservicesnetwork.org/" target="_blank"><img src="@Url.Content("~/Content/images/SocialServicesNetwork.png")" /></a></td>
                        <td>
                            <a href="http://socialservicesnetwork.org/" target="_blank">Social Services Network</a> delivers culturally and 
                            linguistically appropriate direct services to the South Asian community through partnerships developed with other 
                            service providers. Specifically, they strive to inform, support and empower the community to live an independent and 
                            enriched life. 
                        </td>
                    </tr>
                    <tr>
                        <td><a href="http://tdsb.on.ca/" target="_blank"><img src="@Url.Content("~/Content/images/TDSB.jpg")" /></a></td>
                        <td>
                            The <a href="http://tdsb.on.ca/" target="_blank">Toronto District School Board (TDSB)</a> is the public school board for 
                            Toronto, Ontario, Canada. 
                        </td>
                    </tr>
                    <tr>
                        <td><a href="http://yellowbrickhouse.org/" target="_blank"><img src="@Url.Content("~/Content/images/YellowBrickHouse.jpg")" /></a></td>
                        <td>
                            <a href="http://yellowbrickhouse.org/" target="_blank">Yellow Brick House</a> is committed to rebuilding the lives of 
                            abused women and children in York Region. With our team of dedicated counsellors, educators, administration staff and 
                            volunteers we work hard to ensure women and children have a safe place to turn to if they become victims of domestic 
                            abuse. 
                        </td>
                    </tr>
                </table>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>