@using AWIC.Models;
@model Member

@if(Model.FeeOption != FeeOption.OneYearPatronage)
{
    ViewBag.Title = "Membership Sign Up Complete!";
}
else
{
    ViewBag.Title = "Patronage Sign Up Complete!";
}

<section id="awic-membership-sign-up-complete-title" class="title-center top-page-nav">
    <div class="center cf">
        <h2>@ViewBag.Title</h2>
    </div>
</section>
<section id="awic-membership-sign-up-complete-body" class="secondary-body">
    <div class="linetext">
        <div class="center">
            @if (Model.PaymentMethod == PaymentMethod.CreditCard)
            {
                if (Model.MembershipType == MembershipType.New)
                {
                    if (Model.FeeOption != FeeOption.OneYearPatronage)
                    {
                        <p>
                            Congratulations, @Model.FirstName! You are now a member of AWIC! 
                        </p>
                        <p>
                            You can start enjoying the benefits of becoming a member right away. Some of them are: 
                        </p>
                    }
                    else
                    {
                        <p>
                            Thank you, @Model.FirstName, for becoming a patron of AWIC! 
                        </p>
                        <p>
                            You can start enjoying some of the membership benefits right away, like: 
                        </p>
                    }
                }
                else
                {
                    if (Model.FeeOption != FeeOption.OneYearPatronage)
                    {
                        <p>
                            Congratulations, @Model.FirstName! Your membership with AWIC has been renewed! 
                        </p>
                        <p>
                            You can continue to receive the benefits of being a member of AWIC, as before. 
                        </p>
                    }
                    else
                    {
                        <p>
                            Thank you, @Model.FirstName! Your patronage with AWIC has been renewed! 
                        </p>
                        <p>
                            You can continue to receive membership benefits, as before. 
                        </p>
                    }
                }
            }
            else
            {
                if (Model.MembershipType == MembershipType.New)
                {
                    if (Model.FeeOption != FeeOption.OneYearPatronage)
                    {
                        <p>
                            @Model.FirstName, you're just one step short of becoming a member of AWIC! 
                        </p>
                        <p>
                            We've yet to receive your fee payment of $@ViewBag.FeeAmount CAD for your @ViewBag.FeeOption by @ViewBag.PaymentMethod.
                            Once we've received it, you can start enjoying the following benefits of becoming a member: 
                        </p>
                    }
                    else
                    {
                        <p>
                            @Model.FirstName, you're just one step short of becoming a patron of AWIC! 
                        </p>
                        <p>
                            We've yet to receive your fee payment of $@ViewBag.FeeAmount CAD for your @ViewBag.FeeOption by @ViewBag.PaymentMethod.
                            Once we've received it, you can start enjoying some of the membership benefits, such as: 
                        </p>
                    }
                }
                else
                {
                    if (Model.FeeOption != FeeOption.OneYearPatronage)
                    {
                        <p>
                            You're just one step short of renewing your membership with AWIC! 
                        </p>
                        <p>
                            We've yet to receive your fee payment of $@ViewBag.FeeAmount CAD for your @ViewBag.FeeOption by @ViewBag.PaymentMethod.
                            Once we've received it, you can continue to receive the benefits of being a member of AWIC, as before. 
                        </p>
                    }
                    else
                    {
                        <p>
                            You're just one step short of renewing your patronage with AWIC! 
                        </p>
                        <p>
                            We've yet to receive your fee payment of $@ViewBag.FeeAmount CAD for your @ViewBag.FeeOption by @ViewBag.PaymentMethod.
                            Once we've received it, you can continue to receive membership benefits, as before. 
                        </p>
                    }
                }
            }
            @if (Model.MembershipType == MembershipType.New)
            {
                <div class="list">
                    <ul>
                        <li>Stand for nomination for the Board of Directors</li>
                        <li>Voting privileges at the Annual General Meeting</li>
                        <li>Discount on some of AWIC's events</li>
                        <li>Low cost advertising in AWIC's newsletter</li>
                        <li>Receive AWIC's newsletter</li>
                        <li>Become connected to your community</li>
                    </ul>
                </div>
                <br />
            }
            <p>
                We might contact you if we need to clarify something on the form you 
                @if (Model.PaymentMethod != PaymentMethod.CreditCard)
                {
                    <span>submitted as well. </span>
                }
                else
                {
                    <span>submitted. </span>
                }
            </p>
            <p>
                If you have any questions or concerns about anything, feel free to email us at
                @AWIC.Models.User.ADMIN with your message and we'll be glad to address it. You 
                can also call Nilani Nanthan (our office assistant) at (416) 499-4144 with your 
                message, who will be more than glad to help you. 
            </p>
            <br />
            <p>
                You can find our general contact information <a href="@Url.Action("Contact", "Home", null, Request.Url.Scheme)">here</a>.
            </p>
        </div>
    </div>
    <div class="push"></div>
</section>