<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="AWIC">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWIC</title>
    @Styles.Render("~/bundles/css")
    @{
        //Styles.Render("~/Content/css");
        //Scripts.Render("~/bundles/modernizr");
    }
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Semantic HTML5 Support on old IE -->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header class="main">
        <div class="center">
            <div class="logo"><a href="@Url.Action("Index","Home")"></a></div>
            <!-- Navigation -->
            <nav>
                <ul>
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Join Our Members Club</a></li>
                    <li><a href="#">Volunteer</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </nav>
            <div id="mobile-button"></div>
            <div id="mobile-menu">
                <ul>
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Join Our Members Club</a></li>
                    <li><a href="#">Volunteer</a></li>
                    <li><a href="#">Donate</a></li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="line">
            <div class="center cf">
                <div class="links">
                    <a href="#">About Us</a>
                    <a href="#">Funders</a>
                    <a href="#">Sponsors</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Careers</a>
                </div>
                <div class="copy">© @DateTime.Now.Year  All rights reserved. <span>AWIC</span> </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    @{
        //Scripts.Render("~/bundles/bootstrap")   
    }
    <script>
        InitHome();
    </script>
</body>
</html>
