@model AWIC.Models.Event

@{
    ViewBag.Title = "Add Event";
}

<section id="awic-add-event-title" class="title-center top-page-nav">
    <div class="center cf">
        <h2>@ViewBag.Title</h2>
    </div>
</section>
<section id="awic-add-event-body" class="secondary-body">
    <div class="center cf">
        <div class="col-12">
            <div class="form-center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.AllDay)
                        @Html.LabelFor(model => model.AllDay)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EventDateAndTime)
                        @Html.EditorFor(model => model.EventDateAndTime, new { 
                            htmlattributes = new { 
                                placeholder = "" + 
                                              DateTime.Now.AddHours(3.0).Year + "-" +
                                              DateTime.Now.AddHours(3.0).Month + "-" +
                                              DateTime.Now.AddHours(3.0).Day + " 10:00 AM"
                            }
                        })
                        @Html.ValidationMessageFor(model => model.EventDateAndTime, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EventDescription)
                        @Html.EditorFor(model => model.EventDescription)
                        @Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="weekly" name="weekly" value="weekly">
                        <label for="weekly">Repeats weekly in month</label>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add Event">
                    </div>
                }

                <div class="back">
                    @Html.ActionLink("Back to Events", "Index")
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}