<!--
@model AWIC.Models.Event

@{
    ViewBag.Title = "Delete Event";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this event?</h3>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.AllDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateAndTime)
        </dt>

        <dd>
            @if (Model.AllDay)
            {
                <span>@Model.EventDateAndTime.ToLongDateString()</span>
            }
            else
            {
                <span>@Model.EventDateAndTime.ToLongDateString() @Model.EventDateAndTime.ToShortTimeString()</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete Event" class="btn btn-default" /> |
            @Html.ActionLink("Back to Events", "Index")
        </div>
    }
</div>
-->