@model AWIC.Models.Event

@{
    ViewBag.Title = "Edit Event";
}

<section id="awic-edit-event-title" class="title-center top-page-nav">
    <div class="center cf">
        <h2>@ViewBag.Title</h2>
    </div>
</section>
<section id="awic-edit-event-body" class="secondary-body">
    <div class="center cf">
        <div class="col-12">
            <div class="form-center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.AllDay)
                        @Html.LabelFor(model => model.AllDay)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EventDateAndTime)
                        @if (Model.AllDay)
                        {
                            <input class="form-control"
                                    data-val="true"
                                    data-val-date="The field Event Date and Time must be a date."
                                    data-val-required="The Event Date and Time field is required."
                                    id="EventDateAndTime"
                                    name="EventDateAndTime"
                                    type="text"
                                    value="@Model.EventDateAndTime.ToLongDateString()">
                        }
                        else
                        {
                            <input class="form-control"
                                    data-val="true"
                                    data-val-date="The field Event Date and Time must be a date."
                                    data-val-required="The Event Date and Time field is required."
                                    id="EventDateAndTime"
                                    name="EventDateAndTime"
                                    type="text"
                                    value="@Model.EventDateAndTime.ToLongDateString() @Model.EventDateAndTime.ToShortTimeString()">
                        }
                        @Html.ValidationMessageFor(model => model.EventDateAndTime, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EventDescription)
                        @Html.EditorFor(model => model.EventDescription)
                        @Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
                    </div>

                    if (!String.IsNullOrEmpty(Model.WeeklyDates))
                    {
                        <div class="form-group">
                            <input type="checkbox" id="makenonweekly" name="makenonweekly" value="makenonweekly">
                            <label for="makenonweekly">Make this a non-weekly event (delete other, repeated events)</label>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <input type="checkbox" id="makeweekly" name="makeweekly" value="makeweekly">
                            <label for="makeweekly">Make this a weekly event</label>
                        </div>
                    }

                    <div class="form-group">
                        <input type="submit" value="Update">
                    </div>
                }
                <div>
                    @Html.ActionLink("Back to Events", "Index")
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}