@model IEnumerable<AWIC.Models.Event>

@{
    ViewBag.Title = "Events";
}

<section id="awic-event-list-title" class="title-center top-page-nav">
    <div class="center cf">
        <h2>@ViewBag.Title</h2>
    </div>
</section>
<section id="awic-event-list-body" class="secondary-body">
    <div class="center cf">
        <div class="col-12">
            <div class="button">
                @Html.ActionLink("Add Event", "Create")
            </div>
            <table class="table">
                <tr class="text-center">
                    <th>
                        @Html.ActionLink("All Day or TBD", "Index", new { sortOrder = ViewBag.AllDayOrTBDSortParam })
                    </th>
                    <th>
                        @Html.ActionLink("Event Date and Time", "Index", new { sortOrder = ViewBag.EventDateAndTimeSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Event Description", "Index", new { sortOrder = ViewBag.EventDescriptionSortParm })
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.AllDayOrTBD)
                        </td>
                        <td>
                            @if (item.AllDayOrTBD)
                            {
                                <span>@item.EventDateAndTime.ToLongDateString()</span>
                            }
                            else
                            {
                                <span>
                                    @item.EventDateAndTime.ToLongDateString() 
                                    @item.EventDateAndTime.ToShortTimeString() to 
                                    @item.EventDateAndTime.AddHours((double)item.Duration).ToShortTimeString()
                                </span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDescription)
                        </td>
                        <td class="event-actions">
                            <span id="edit" class="button button-small">@Html.ActionLink("Edit", "Edit", new { id = item.ID })</span>
                            <span id="delete" class="button button-small"><a event-id="@item.ID" href="javascript:void(0)">Delete</a></span>
                            <span class="confirm-delete"></span>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="push"></div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('#delete > a').click(function () {
            if (!$(this).parent().next().html()) {
                $(this).attr("href", "@Url.Action("Delete")/" + $(this).attr("event-id"));
                $(this).html("Yes")
                $(this).parent().next().html("Are you sure? <a href='javascript:void(0)'>Cancel</a>");
                return false;
            }
        });
        $('.confirm-delete').click(function () {
            $(this).prev().children().attr("href", "javascript:void(0)");
            $(this).prev().children().html("Delete");
            $(this).html("");
            return false;
        });
    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}