@model AWIC.Models.Donations

@{
    ViewBag.Title = "Thank you!";
}

<section id="awic-donation-received-title" class="title-center top-page-nav">
    <div class="center cf">
        <h2>@ViewBag.Title</h2>
    </div>
</section>
<section id="awic-donation-received-body" class="secondary-body">
    <div class="linetext">
        <div class="center">
            <p>
                @if (!String.IsNullOrEmpty(Model.Donor))
                {
                    <span>@Model.Donor, thank you for making a donation to AWIC! </span>
                }
                else
                {
                    <span>Thank you for making a donation to AWIC! </span>
                }
            </p>
            <p>
                Your donation of $@Model.AmountInCAD CAD, made on @Model.DonationDateAndTime.ToLongDateString() @Model.DonationDateAndTime.ToShortTimeString() has been received by us. 
            </p>
            @if(ViewBag.SentEmailToDonor)
            {
                <p>
                    We've sent an email to @Model.DonorEmail with the donation details above. You should be receiving it shortly. 
                </p>
            }
            <p>
                If you have any questions or concerns about anything (including the details of where your 
                donation money will be used by AWIC), feel free to email us at @System.Configuration.ConfigurationManager.AppSettings["OrganisationEmailAddress"] 
                with your message and we'll be glad to address it. 
            </p>
            <br />
            <p>
                You can find our general contact information <a href="@Url.Action("Contact", "Home", null, Request.Url.Scheme)">here</a>. 
            </p>
        </div>
    </div>
    <div class="push"></div>
</section>